.col-sm-12.col-lg-8.offset-lg-2
  %h2.mb-3
    = octicon 'file-directory', height: 30
    = "Collections"
    %a= link_to "Add", new_collection_path,
      class: "btn btn-outline-info float-right"
  %form
    .form-group
      %input#search.form-control{ placeholder: "Search for a collection...",
        type: "text"}/
  - @collections.each do |collection|
    = render 'shared/collection_label', collection: collection

