.col-md-8.col-sm-10.offset-2
  %form
    .form-group
      %input#search.form-control{ placeholder: "Search for a collection...",
        type: "text"}/
  - @collections.each do |collection|
    = render 'shared/collection_label', collection: collection
