.col-sm-12.col-lg-8.offset-lg-2
  %h2.mb-3
    = octicon 'file-directory', height: 30
    = "Add a collection"
    %input{type: "submit",
           value: "Add collection",
           class: "btn btn-outline-info float-right",
           form: "collection-form"}
  = form_with model: @collection, id: "collection-form" do |f|
    %div.form-group#collection-form
      = f.text_field :name,
        autofocus: true,
        placeholder: 'Enter a collection name.',
        class: 'form-control',
        id: 'name'
