.col-md-8.offset-2
  - @notes.each do |note|
    %h2= note.title
    %p
      %small
        Tags: #{raw note.tags.map { |tag| link_to tag.name, tag_path(tag.id) }.join(', ')}
    %p
      %small
        Collection: #{link_to note.collection.name, collection_path(note.collection)}
    %p= link_to "See note", note_path(note)
