.col-md-8.offset-2
  %h2.mb-3
    = octicon 'note', height: 30
    = "All notes"
    %a= link_to "Add a note", new_note_path, class: "btn btn-outline-primary float-right"
  %form
    .form-group
      %input#search.form-control{ placeholder: "Search for a note...",
        type: "text"}/
  - @notes.each do |note|
    = render 'shared/note_card', note: note, collection: note.collection
