.col-md-8.offset-2
  %h4= @note.title
  %p= markdown(@note.body)
  %p
    %small
      Tags: #{raw @note.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')}
  %p
    %small
      Collection: #{link_to @note.collection.name, collection_path(@note.collection)}
