%nav.navbar.navbar-expand-lg.navbar-light{style: "background-color: #e3f2fd;"}
  %ul.navbar-nav.mx-auto
    %li.nav-item
      %a= link_to octicon('note'), notes_path, class: "mr-5"

    %li.nav-item
      %a= link_to octicon('file-directory'), collections_path, class: "mr-5"

    %li.nav-item
      %a= link_to octicon('tag'), tags_path, class: "mr-5"

    %li.nav-item
      %a= link_to octicon('sign-out') , logout_path,  class: "mr-5"
