.col-sm-12.col-lg-8.offset-lg-2
  %h2.mb-3
    = octicon 'tag', height: 30
    = "Your tags"
    %a= link_to "Add a tag", new_tag_path,
      class: "btn btn-outline-success float-right"
  %form
    .form-group
      %input#search.form-control{ placeholder: "Search for a tag...",
        type: "text"}/
  - @tags.each do |tag|
    = render 'shared/tag', tag: tag
