.col-sm-12.col-lg-8.offset-lg-2
  %h2.mb-3
    = octicon 'tag', height: 30
    = "Add a tag"
    %input{type: "submit",
           value: "Add tag",
           class: "btn btn-outline-success float-right",
           form: "tag-form"}
  = form_with model: @tag, id: "tag-form" do |f|
    %div.form-group
      = f.text_field :name,
        autofocus: true,
        placeholder: 'Enter a tag name.',
        class: 'form-control',
        id: 'name'
