.col-md-8.offset-2
  %h1="Notes by tag: #{ @tag.name}"
  - @notes.each do |note|
    %h2= note.title
    %p
      %small
        Tags: #{raw note.tags.map { |t| link_to t.name, tag_path(t.id) }.join(', ')}
    %p= link_to "See note", note_path(note)
